body{
    font-family: Arial;
    background:#f2f2f2;
}

.container{
    width:700px;
    margin:auto;
    margin-top:40px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:10px;
    font-size:16px;
}

button{
    padding:10px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:darkblue;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

table,th,td{
    border:1px solid black;
}

th,td{
    padding:10px;
}

td button{
    background:red;
}